

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
  <title>Petfax {{pet.pet_name}}</title>
</head>
<body>
  <div class="container">
    <h1>{{pet.pet_name}}</h1>
    <div class="callout">
      <span class="pet-fact">
        Did you know?
      </span>
      <br>
      {{pet.pet_fact}}
    </div>
    <div class="pets-container">
      <div class="show-pet">
        <img src="{{pet.pet_photo}}" alt="{{pet.pet_name}}">
      </div>
    </div>
    <div class="link-container">
      <a href="/pets">Go Back</a>
    </div>
  </div>
</body>
</html>